<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<title>Phaser - game</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<script type="text/javascript" src="./js/phaser.min.js"></script>
</head>
<body>
<script type="text/javascript">

/*加载资源*/
var preload = function() { }

/*创建世界*/
var create = function() { }

/*每帧重绘*/
var update = function() { }

/*第三个参数可以是Phaser.CANVAS，Phaser.WEBGL，或Phaser.AUTO。这个是你想使用的渲染上下文。推荐的参数是Phaser.AUTO，它会自动尝试使用WebGL，如果浏览器或设备不支持它就会回滚成Canvas。*/
var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update });
</script>
</body>
</html>
