#auto paris
snippet ( "a" i
(${1:text})
endsnippet

snippet { "a" i 
{${1:text}}
endsnippet

snippet [ "a" i 
[${1:text}]
endsnippet

snippet < "a" i 
<${1:text}>
endsnippet

snippet ` "a" i 
\`${1:text}\`
endsnippet

snippet " "a" i 
"${1:text}"
endsnippet

snippet ' "a" i 
'${1:text}'
endsnippet

snippet / "a" i 
/${1:text}/
endsnippet
