snippet user
[user]
	email = neko@imiku.com
	name = katosun2
endsnippet

snippet diff
[diff]
	tool = bc3
[difftool "bc3"]
	path = ${1:E:/Program Files (x86)/Beyond Compare 3/BCompare.exe}
[merge]
	tool = bc3
[mergetool "bc3"]
	path = ${2:$1}
endsnippet
