# Vimwiki file.
snippet tit
%title ${1}
endsnippet

snippet toc
%toc ${1}
endsnippet

snippet strong
*${1}*
endsnippet

snippet em
_${1}_
endsnippet

snippet del
~~${1}~~
endsnippet

snippet sup
^${1}^
endsnippet

snippet sub
,,${1},,
endsnippet

snippet code
{{{class="${1:brush:js|php|css|html}"
	${2}
}}}
endsnippet

snippet img
{{${1}|${2}}}
endsnippet

snippet link
[[${1:http://}|${2:linkname}]]
endsnippet
