snippet tpl "vue tpl"
<template>
${1}
</template>

<script lang="js">
export default {
	name: '${1:demo}',
	props: [],
	data () {
		return {};
	}
};
</script>

<style lang="stylus" scoped>
</style>
endsnippet
