snippet import "es6+引用模块" 
import ${1:React} ${2}from '${3}';
$0
endsnippet

snippet export6 "es6+导出"
export default ${1}
endsnippet

snippet constr "constructor 构造函数"
constructor(props){
	super(props);
	this.state = {
		titleText: 'hi',
		bodyText:  'body title'
	};
}
endsnippet

snippet es6extend "es6 Object extend"
Object.assign({}, ${1}, ${2});
endsnippet
