snippet bootrp
<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-heading">
				$0
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
endsnippet

snippet bootform
<div class="form-group col-lg-6">
	<label for="inputEmail1" class="col-lg-2 control-label">库存</label>
	<div class="col-lg-10">
		<input type="text" class="form-control" id="inputDate1" placeholder="" />
	</div>
</div>
endsnippet
