snippet canvas ""
<canvas id="${1:canvasID} width="${2}" height="${3}"></canvas>
endsnippet

snippet as ""
<aside>${1}</aside>
endsnippet

snippet pro ""
<progress id="${1:id}" max="${2:100}">${3}</progress>
endsnippet

snippet asc ""
<aside class="${1:class}">${2}</aside>
endsnippet

snippet "sec(c?)" "" r
<section class="${1:class}">${2}</section>
endsnippet

snippet met ""
<meter title="${1:title}" id="${2:id}" value="${3:value}" min="${4:num}" max="${5:num}">${6:code}</meter>
endsnippet
